@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Mono+One&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;

    font-family: 'Anton', sans-serif;
    font-family: 'Rubik Mono One', monospace;
    background: #111111;
    color: #111111;
    font-size: 14px;
    letter-spacing: 5px;
}

.indexSection{
    height: 100svh;
    width: 100%;
    background-color: #EDEDED;

    position: relative;
}

.nuzb-title{
    height: 100svh;
    width: 100%;

    position: absolute;
    z-index: 97;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuzb-title h1{
    color: transparent;
    font-size: 256px;
    font-family: 'Anton', sans-serif;
    font-family: 'Zen Dots', sans-serif;

    color: #EDEDED;
    text-shadow: -2px -2px 0 #111111, 2px -2px 0 #111111, -2px 2px 0 #111111, 2px 2px 0 #111111;
}

.nuzb-image{
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    z-index: 98;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nuzb-image img{
    width: 900px;
    height: auto;

    object-fit: contain;
    object-position: 50% 50%;
}

.navBG{
    display: block;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 99;
}

.nav{
    padding-top: 50px;
}

.navOptions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}

.navOptions a{
    text-decoration: none;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.socialsList{
    position: relative;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 25px;

    width: 100%;
    height: 100svh;
    padding-bottom: 50px;

    z-index: 98;
}

.socials a{
    text-decoration: none;
    color: #111111;
    opacity: 0.85;

    transition: 0.3s;
}

.socials a:hover{
    opacity: 1;
}

.socials .customIcon{
    font-size: 40px;
}

.content{
    display: flex;
    flex-direction: column;
}

.section{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 600px;

    padding-top: 300px;
    padding-bottom: 100px;
}

.latest-realeses-title{
    position: absolute;

    top: 650px;
    right: 0;

    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.latest-realeses-title h1{
    position: relative;

    text-wrap: nowrap;
    font-size: 128px;
    letter-spacing: 35px;
    text-transform: uppercase;
    opacity: 0.3;

    font-family: 'Anton', sans-serif;
    font-family: 'Rubik Mono One', monospace;

    color: #111111;
    text-shadow: -2px -2px 0 #EDEDED, 2px -2px 0 #EDEDED, -2px 2px 0 #EDEDED, 2px 2px 0 #EDEDED;
}

.musicList{
    position: relative;
    color: #FFFFFF;

    padding-left: 220px;
    padding-right: 220px;
}

.musicBox{
    position: relative;

    width: 440px;
    height: 310px;

    margin-top: 250px;
}

.musicBoxFirst{
    margin-top: -30px;
}

.musicInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-top: 40px;

    display: flex;
    flex-direction: column;
    
    z-index: 1;
}

.musicInfo h1{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 200;

    max-width: 320px;
}

.musicInfo p{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

.musicImage{
    position: absolute;
    top: 0;
    left: 120px;

    width: 330px;
    height: 330px;
    
    z-index: 0;
}

.musicImage img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
}

.aboutGalery{
    width: 100%;
    height: 100svh;
}

.about{
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
}

.about img{
    border-radius: 10px;
}

.about .aboutImg:last-child{
    padding-bottom: 300px;
}

.about .aboutImg1{
    position: absolute;
    top: 0;
    right: 0;

    z-index: 1;
}

.about .aboutImg1 img{
    width: 420px;
    height: 420px;

    object-fit: cover;
    object-position: 50% 50%;
}

.about .aboutImg2{
    position: absolute;
    top: 220px;
    left: 0;

    z-index: 0;
}

.about .aboutImg2 img{
    width: 530px;
    height: 300px;

    object-fit: cover;
    object-position: 50% 50%;
}

.about .aboutImg3{
    position: absolute;
    top: 470px;
    right: 45px;

    z-index: 1;
}

.about .aboutImg3 img{
    width: 420px;
    height: 540px;

    object-fit: cover;
    object-position: 50% 50%;
}

.about .aboutImg4{
    position: absolute;
    top: 770px;
    left: 0;

    z-index: 0;
}

.about .aboutImg4 img{
    width: 420px;
    height: 380px;

    object-fit: cover;
    object-position: 50% 50%;
}

.about .aboutImg5{
    position: absolute;
    top: 1140px;
    right: 0;

    z-index: 1;
}

.about .aboutImg5 img{
    width: 420px;
    height: 380px;

    object-fit: cover;
    object-position: 50% 50%;
}

.contact{
    position: relative;

    width: 100%;

    margin-top: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;

    font-family: 'Anton', sans-serif;
    font-family: 'Rubik Mono One', monospace;

    color: #EDEDED;
}

.contact form{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact form input, .contact form textarea{
    width: 100%;
    border: none;
    border-bottom: #EDEDED 1px solid;
    background-color: transparent;

    color: #EDEDED;

    resize: vertical;

    padding: 10px;
    padding-bottom: 40px;
}

.contact form textarea{
    padding-bottom: 100px;
}

.contact form input::placeholder, .contact form textarea::placeholder{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact form button{
    cursor: pointer;
    margin-top: 40px;
    width: 400px;
    height: 75px;
    background-color: #EDEDED;
    color: #111111;
    border: none;

    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;

    font-family: 'Anton', sans-serif;
    font-family: 'Rubik Mono One', monospace;
}